// Copyright (c) Facebook, Inc. and its affiliates.
// All rights reserved.
//
// This source code is licensed under the license found in the
// LICENSE file in the root directory of this source tree.

PRODUCT_NAME = FBSDKGamingServicesKit
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.sdk.FBSDKGamingServicesKit

CURRENT_PROJECT_VERSION = $(FBSDK_PROJECT_VERSION)

INFOPLIST_FILE = Info.plist

SDKROOT = iphoneos

GCC_C_LANGUAGE_STANDARD = gnu11

CLANG_CXX_LANGUAGE_STANDARD = "gnu++14"

SKIP_INSTALL = YES
