// Copyright (c) Meta Platforms, Inc. and affiliates.
// All rights reserved.
//
// This source code is licensed under the license found in the
// LICENSE file in the root directory of this source tree.

#include "Shared/Platform/iOS.xcconfig"
#include "Shared/Target/LogicTests.xcconfig"

PRODUCT_NAME = FBSDKShareKitTests
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.sdk.FBSDKShareKitTests

INFOPLIST_FILE = $(SRCROOT)/FBSDKShareKitTests/Info.plist

HEADER_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR)
LIBRARY_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR)

SWIFT_OBJC_BRIDGING_HEADER = FBSDKShareKitTests/FBSDKShareKitTests-Bridging-Header.h
