AccountKit/**/AccountKitServerSnapshotTests.xcworkspace/*
AccountKit/**/AccountKitServerSnapshotTests.xcodeproj/*
ads/samples/AdUnitsSample/AdUnitsSample.xcodeproj/*
ads/samples/AdUnitsSample/AdUnitsSample.xcworkspace/*
ads/samples/InstreamAdSample/InstreamAdSample.xcodeproj/*
ads/samples/InstreamAdSample/InstreamAdSample.xcworkspace/*
ads/samples/NativeAdSample/NativeAdSample.xcodeproj/*
ads/samples/NativeAdSample/NativeAdSample.xcworkspace/*
ads/src/FBAudienceNetwork.xcworkspace/*
ads/src/FBAudienceNetwork/FBAudienceNetwork.xcodeproj/*
samples/Hackbook/build/
samples/Hackbook/Hackbook.xcodeproj/*.pbxuser
samples/Hackbook/Hackbook.xcodeproj/*.mode*
samples/Hackbook/Hackbook.xcodeproj/xcuserdata*
samples/Hackbook/Hackbook.xcodeproj/project.xcworkspace
samples/LoginSample/Pods
samples/LoginSample/LoginSample.xcworkspace
src/facebook-ios-sdk.xcodeproj/*.pbxuser
src/facebook-ios-sdk.xcodeproj/*.mode*
src/build/
build/
lib/
docs/
test/UnitTest/UnitTest.xcodeproj/*.pbxuser
test/UnitTest/UnitTest.xcodeproj/*.mode*
test/UnitTest/build/
project.xcworkspace
ios-sdk.xcodeproj
xcuserdata
.arcbuildbootstrap
TestAppIdAndSecret.xcconfig
.DS_Store
*.xcscmblueprint
Carthage

# vim temp files
*.sw?
*.un~

# buck
buck-out/
.buckd/

infer-out

#generated doc files
docs/

