AccountKit/**/AccountKitServerSnapshotTests.xcworkspace/*
AccountKit/**/AccountKitServerSnapshotTests.xcodeproj/*
ads/samples/AdUnitsSample/AdUnitsSample.xcodeproj/*
ads/samples/AdUnitsSample/AdUnitsSample.xcworkspace/*
ads/samples/NativeAdSample/NativeAdSample.xcodeproj/*
ads/samples/NativeAdSample/NativeAdSample.xcworkspace/*
ads/samples/AdBiddingSample/AdBiddingSample.xcodeproj/*
ads/samples/AdBiddingSample/AdBiddingSample.xcworkspace/*

ads/internal/samples/Hackvertising/Hackvertising.xcodeproj/*
ads/internal/samples/Hackvertising/Hackvertising.xcworkspace/*

ads/internal/samples/TinyKitten/TinyKitten.xcodeproj/*
ads/internal/samples/TinyKitten/TinyKitten.xcworkspace/*

ads/ancamp/ANCampApp/ANCampApp.xcodeproj/*
ads/ancamp/ANCampApp/ANCampApp.xcworkspace/*

ads/games/galaxyCollector/galaxyCollector.xcworkspace/*

ads/src/FBAudienceNetwork.xcworkspace/*
ads/src/FBAudienceNetwork/FBAudienceNetworkWorkspace.xcworkspace/*
ads/src/FBAudienceNetwork/FBAudienceNetwork.xcodeproj/*
ads/src/FBAudienceNetwork/FBAudienceNetwork.xcworkspace/*

ads/src/FB-SDK-MP/FB_SDK_MP_Workspace.xcworkspace/*
ads/src/FB-SDK-MP/FB-SDK-MP.xcworkspace/*
ads/src/FB-SDK-MP/FB-SDK-MP.xcodeproj/*

internal/testing/IpaSizeTestApp/**/*.xcworkspace/*
internal/testing/IpaSizeTestApp/**/*.xcodeproj/*
samples/Hackbook/build/
samples/Hackbook/Hackbook.xcodeproj/*.pbxuser
samples/Hackbook/Hackbook.xcodeproj/*.mode*
samples/Hackbook/Hackbook.xcodeproj/xcuserdata*
samples/Hackbook/Hackbook.xcodeproj/project.xcworkspace
samples/LoginSample/Pods
samples/LoginSample/LoginSample.xcworkspace
build/
lib/
docs/
test/UnitTest/UnitTest.xcodeproj/*.pbxuser
test/UnitTest/UnitTest.xcodeproj/*.mode*
test/UnitTest/build/
project.xcworkspace
ios-sdk.xcodeproj
xcuserdata
.arcbuildbootstrap
TestAppIdAndSecret.xcconfig
.DS_Store
*.xcscmblueprint
Carthage

# vim temp files
*.sw?
*.un~

# buck
buck-out/
.buckd/

infer-out

#generated doc files
docs/
