<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUx568sTx-Vhmkt8Wcy3xg2jIiC046Q6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>281009113818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>281856651482737</string>
	<key>PROJECT_ID</key>
	<string>agi-ragnarok-classic-online</string>
	<key>STORAGE_BUCKET</key>
	<string>agi-ragnarok-classic-online.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281009113818:ios:262401811fbf2ca26af3e3</string>
</dict>
</plist>