<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkXPzPQyExKTdsSrr-REte_5ByH-7DBbU</string>
	<key>GCM_SENDER_ID</key>
	<string>951242214470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>1675869496295452</string>
	<key>PROJECT_ID</key>
	<string>ulkt-2023e</string>
	<key>STORAGE_BUCKET</key>
	<string>ulkt-2023e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951242214470:ios:f063c1627c74e127d10e47</string>
</dict>
</plist>
