
<key>CFBundleURLTypes</key>
<array>
  <dict>
  <key>737696674870554</key>
  <array>
    <string>737696674870554</string>
  </array>
  </dict>
</array>
<key>737696674870554</key>
<string>737696674870554</string>
<key>7ea3eda9398b3d52bdbad44246992e10</key>
<string>CLIENT-TOKEN</string>
<key>apidwalinzappv1</key>
<string>apidwalinzappv1</string>

