<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>User tracking must be enabled to test deferred deep linking</string>
	<key>FacebookLoggingBehavior</key>
	<array>
		<string>developer_errors</string>
		<string>network_requests</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Hackbook</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.facebook.internal.sdk.samples.Hackbook.localDevelopment</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${FB_BUNDLE_VERSION_SHORT}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb421415891237674</string>
				<string>fb2188842757882025</string>
				<string>fb931297637414200</string>
				<string>fb448188556264551</string>
				<string>fb442355790447822</string>
				<string>fb104403138198698</string>
				<string>fb504965336734884</string>
				<string>hackbook-sample-app</string>
				<string>hackbook-deeplink-testing</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${FB_APP_VERSION}</string>
	<key>FacebookAppID</key>
	<string>421415891237674</string>
	<key>FacebookClientToken</key>
	<string>73a6ae93869886362007649824bf98f8</string>
	<key>FacebookDisplayName</key>
	<string>HackBook Internal for iOS</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-reels</string>
		<string>instagram</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>facebook-stories</string>
		<string>facebook-reels</string>
		<string>instagram-stories</string>
		<string>instagram-auth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Hackbook wants camera access so you can take a picture to share.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Hackbook saves videos to your photo library to share on Facebook.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Hackbook reads from your photo library to find photos and videos to share.</string>
	<key>UILaunchStoryboardName</key>
	<string>Hackbook</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
