<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>development</string>
  <key>provisioningProfiles</key>
  <dict>
      <key>App bundle id</key>
      <string>5f649bc2-3075-46a2-9812-baf583a6674b</string>
      <key>com.facebook.internal.sdk.samples.Hackbook.internalInHouse</key>
      <string>Hackbook Internal InHouse</string>
  </dict>
  <key>signingCertificate</key>
  <string>iPhone Developer</string>
</dict>
</plist>
