// Copyright (c) Meta Platforms, Inc. and affiliates.
// All rights reserved.
//
// This source code is licensed under the license found in the
// LICENSE file in the root directory of this source tree.

#include "Shared/Platform/tvOS.xcconfig"
#include "Shared/Target/DynamicFramework.xcconfig"
#include "Shared/Version.xcconfig"

PRODUCT_NAME = FBSDKTVOSKit
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.sdk.FBSDKTVOSKit

CURRENT_PROJECT_VERSION = $(FBSDK_PROJECT_VERSION)

INFOPLIST_FILE = $(SRCROOT)/FBSDKTVOSKit/Info.plist
MODULEMAP_FILE = $(SRCROOT)/FBSDKTVOSKit/FBSDKTVOSKit.modulemap
