// Copyright (c) Meta Platforms, Inc. and affiliates.
// All rights reserved.
//
// This source code is licensed under the license found in the
// LICENSE file in the root directory of this source tree.

#include "Shared/Platform/tvOS.xcconfig"
#include "Shared/Target/LogicTests.xcconfig"

PRODUCT_NAME = FBSDKTVOSKitTests
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.sdk.FBSDKTVOSKitTests

INFOPLIST_FILE = $(SRCROOT)/FBSDKTVOSKitTests/Info.plist

HEADER_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR)
LIBRARY_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR)
