<!-- (c) Meta Platforms, Inc. and affiliates. Confidential and proprietary. -->

<!DOCTYPE html>
<html>
  
<body> 
    <h1>Uploading File to Local Website</h1>
   
    <form action="/upload"
      enctype="multipart/form-data" method="POST"> 
      
        <span>Upload File:</span>
        <input type="file" name="file" required/> <br>
        <input type="submit" value="submit">  
    </form> 
</body> 
  
</html>
