<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleURLTypes</key>
<array>
  <dict>
  <key>CFBundleURLSchemes</key>
  <array>
    <string>fb224203039777234</string>
  </array>
  </dict>
</array>
<key>FacebookAppID</key>
<string>224203039777234</string>
<key>FacebookDisplayName</key>
<string>Pescheria Ferroni dal 1910</string>
</dict>
</plist>
