// Copyright (c) Meta Platforms, Inc. and affiliates.
// All rights reserved.
//
// This source code is licensed under the license found in the
// LICENSE file in the root directory of this source tree.

#include "Shared/Platform/tvOS.xcconfig"
#include "Shared/Target/StaticFramework.xcconfig"
#include "Shared/Version.xcconfig"

PRODUCT_NAME = FBSDKLoginKit
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.sdk.FBSDKLoginKit

CURRENT_PROJECT_VERSION = $(FBSDK_PROJECT_VERSION)

INFOPLIST_FILE = $(SRCROOT)/FBSDKLoginKit/Info.plist
MODULEMAP_FILE = $(SRCROOT)/FBSDKLoginKit/FBSDKLoginKit.modulemap
