// Copyright (c) Meta Platforms, Inc. and affiliates.
// All rights reserved.
//
// This source code is licensed under the license found in the
// LICENSE file in the root directory of this source tree.

#include "Analyzer.xcconfig"
#include "Warnings.xcconfig"

// Disable legacy-compatible header searching
ALWAYS_SEARCH_USER_PATHS = NO

// Architectures to build
ARCHS = $(ARCHS_STANDARD)

// Whether to enable module imports
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_MODULE_DEBUGGING = NO

// Build Options
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
BUILD_LIBRARY_FOR_DISTRIBUTION = YES

// Whether to run the static analyzer during builds
RUN_CLANG_STATIC_ANALYZER = NO

// Whether to strip out code that isn't called from anywhere
DEAD_CODE_STRIPPING = NO

// The format of debugging symbols
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// C Language
GCC_C_LANGUAGE_STANDARD = gnu99

// C++ Language
CLANG_CXX_LANGUAGE_STANDARD = c++11
CLANG_CXX_LIBRARY = libc++

// Code Generation
GCC_DYNAMIC_NO_PIC = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_SYMBOLS_PRIVATE_EXTERN = NO

// MTL
MTL_FAST_MATH = YES

// Swift Settings
SWIFT_VERSION = 5.0
