// Copyright (c) Meta Platforms, Inc. and affiliates.
// All rights reserved.
//
// This source code is licensed under the license found in the
// LICENSE file in the root directory of this source tree.

#include "FacebookSDK-Project.xcconfig"
// this xcconfig is only for libraries
#include "FacebookSDK-Library.xcconfig"

ARCHS = x86_64 arm64
TVOS_DEPLOYMENT_TARGET = 10.0
SDKROOT = appletvos
PRODUCT_NAME = $(PROJECT_NAME)
INFOPLIST_FILE = $(PROJECT_NAME)/Info.plist
MODULEMAP_FILE = $(PROJECT_NAME)/module.modulemap

// Build Options
CLANG_ENABLE_OBJC_ARC = YES
GCC_VERSION = com.apple.compilers.llvm.clang.1_0

// Deployment
SKIP_INSTALL = YES
CODE_SIGN_IDENTITY =
TARGETED_DEVICE_FAMILY = 3 // tvos

// Bitcode Support
// unlike iphoneos, appletvos requires this flag despite the explicit -fembed-bitcode.
ENABLE_BITCODE = YES
FB_BITCODE_FLAG = -fembed-bitcode -Wno-error=unused-command-line-argument
OTHER_CFLAGS = $(inherited) $(FB_BITCODE_FLAG)
