// Copyright (c) Facebook, Inc. and its affiliates.
// All rights reserved.
//
// This source code is licensed under the license found in the
// LICENSE file in the root directory of this source tree.

#include "FacebookSDK-Project.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = NO

// Deployment
COPY_PHASE_STRIP = YES

// Build Options
VALIDATE_PRODUCT = YES

// Code Generation
GCC_OPTIMIZATION_LEVEL = s

// Apple LLVM / Bitcode Support
OTHER_CFLAGS = $(inherited) $(FB_BITCODE_FLAG) -DNS_BLOCK_ASSERTIONS=1
