// Copyright (c) Meta Platforms, Inc. and affiliates.
// All rights reserved.
//
// This source code is licensed under the license found in the
// LICENSE file in the root directory of this source tree.

#include "../Common.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = NO

// Deployment
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES

// Code Generation
GCC_OPTIMIZATION_LEVEL = s

// Preprocessor
GCC_PREPROCESSOR_DEFINITIONS = $(inherited)

// Swift Testability
ENABLE_TESTABILITY = YES

// MTL
MTL_ENABLE_DEBUG_INFO = NO
