//
// Copyright 2010-present Facebook
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

#include "FacebookSDK-LogicTests.xcconfig"

// Linking
BUNDLE_LOADER = $(BUILT_PRODUCTS_DIR)/FacebookSDKTestHost.app/FacebookSDKTestHost

// Unit Testing
TEST_HOST = "$(BUNDLE_LOADER)"

// This overrides the location of the reference images.
// This is passed at build time using `GCC_PREPROCESSOR_DEFINITIONS` below.
FB_REFERENCE_IMAGE_DIR = $(SOURCE_ROOT)/FacebookSDKApplicationTests/ReferenceImages

// FB_REFERENCE_IMAGE_DIR is quoted in case the developer has whitespace in the path.
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) FB_REFERENCE_IMAGE_DIR="\"$(FB_REFERENCE_IMAGE_DIR)\""
