Package: com.facebook.ratinghelper
Name: RatingHelper
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Stan Wu
Author: Stan Wu
Section: Tweaks
